@model Boarsenger.API.MVCInterface.ViewModels.LoginViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="container pb-5 mb-5">
    <div class="row pt-5 mb-10">
        <div class="col">
            <div class="text-left">
                <p id="add_text_home" class="">Boarsenger - create your best own decentralized text and voice servers.</p>
            </div>
            <div class="text-left">
                <p id="add_text_home_zag" class="">Use Boarsenger to create servers on your personal computer for any purposes: communication with friends, conferences, meeting and sharing news independently of quality of your Internet connection.</p>
                <p id="add_text_home_zag" class="text-center">Try it right now.</p>
            </div>
            <div class="text-center">
                <a  class="">
                    <div id="buttons">Download</div> 
                </a>
            </div>
        </div>
        <div class="col">
            <div class="text-right">
                
                <img id="image" src="~/images/messaging.jpg" alt="Alternate Text" />
            </div>
        </div>
    </div>
</div>


<div class="container pt-4 mt-4 pb-4">
    <div class="row pb-5">
        <div class="col-1">
            
        </div>
        <div class="col-1 mt-2">
            <i class="fas fa-comments fa-4x text-white"></i>
        </div>
        <div class="col ml-4">
            <h2 id="add_text_home">Create chats to keep in touch any time you want</h2>
            <p id="add_text_home_zag" class="mb-2">Use chat messages to share information in traditional way</p>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col-1">

        </div>
        <div class="col-1 text-center mt-2">
            <i class="fas fa-microphone fa-4x text-white"></i>
        </div>
        <div class="col ml-4">
            <h2 id="add_text_home">Share voice messages</h2>
            <p id="add_text_home_zag">Use voice messages to tell something you can't describe in text</p>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col-1">

        </div>
        <div class="col-1 text-center mt-2">
            <i class="fas fa-search fa-4x text-white"></i>
        </div>
        <div class="col ml-4">
            <h2 id="add_text_home">Connect to other servers</h2>
            <p id="add_text_home_zag">Find interesting servers via recommendations or by invite links to join</p>
        </div>
    </div>
    <div class="row pb-5 mb-4">
        <div class="col-1">

        </div>
        <div class="col-1 text-center mt-2">
            <i class="fas fa-user-md fa-4x text-white"></i>
        </div>
        <div class="col ml-4">
            <h2 id="add_text_home">Review your server activity as administrator</h2>
            <p id="add_text_home_zag">Set up server for your purposes and moderate it by yourself</p>
        </div>
    </div>
</div>


<div class="container pb-5 mb-5">
    <div class="row">
        <div class="col">
            <p id="add_text_home_main_footer" class="text-center">Try out Premium!</p>
        </div>        
    </div>
    <div class="row pb-4 pt-4">
        <div class="col-2"></div>
        <div class="col">
            <p id="add_text_home_footer" class="text-center">Unlock Premium access with plenty of cool features that will increase your productivity and give extended resourses for your wishes</p>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row pb-5 mb-5">
        <div class="col text-center">
            <a class="">
                <div id="buttons" class="text-center">Find Out More</div>
            </a>
        </div>
    </div>
</div>

