@model Boarsenger.API.MVCInterface.ViewModels.LoginViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div id="main_image" class="container">
    <div class="row pt-5">
        <div class="col">
            <div class="text-left">
                <p id="add_text_home" class="">Boarsenger - create your best own decentralized text and voice servers.</p>
            </div>
            <div class="text-left">
                <p id="add_text_home_zag" class="">Use Boarsenger to create servers on your personal computer for any purposes: communication with friends, conferences, meeting and sharing news independently of quality of your Internet connection.</p>
                <p id="add_text_home_zag" class="text-center">Try it right now.</p>
            </div>
            <div class="text-center">
                <a  class="">
                    <div id="buttons">Download</div> 
                </a>
            </div>
        </div>
        <div class="col">
            <div class="text-right">
                <img id="image" src="~/images/messaging.jpg" alt="Alternate Text" />
            </div>
        </div>
    </div> 
</div>

